{{page-title "Signup"}}
<input type="text" id="fname" name="fname" onchange={{this.setFirstName}} oninput={{this.setFirstName}}><br>
<h4>{{this.getFirstName}}</h4>
<input type="text" id="lname" name="lname" onchange={{this.setLastName}} oninput={{this.setLastName}}><br>
<h4>{{this.getLastName}}</h4>
<LinkTo @route="hotel-list">Submit</LinkTo>
{{outlet}}