{{page-title "Signup"}}
<Header />
<form>
    <div class="row m-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" id="fname" name="fname"
                onchange={{this.setFirstName}} oninput={{this.setFirstName}}>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" id="lname" name="lname"
                onchange={{this.setLastName}} oninput={{this.setLastName}}>
        </div>
    </div>
    <div class="btn btn-primary m-3" {{on 'click' this.submitDetails}}>Submit</div>
</form>
{{outlet}}